@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');

body {
    background-color: #2c2c2c;
    color: white;
}

.backg-black {
    background-color: black;
}

.carousel .item {
    width: max-content;
    top:50%;
    left: 50%;
}
  
.item img {
      position:absolute;
      top: 0;
      left: 50%;
}

.bg-dark {
    background-color: #2c2c2c;
}

.navbar {
    color: rgb(192, 179, 179);
}

p {
    position: relative;
    margin-left: 3%;
    background-image: url("flickandjoe.jpg");
}

img {
    position:relative;
    left: 3%;
}

h1 {
    position:relative;
    left:3%;
}